node_modules
npm-debug.log
.git
.gitignore
README.md
Readme.md
.env
.env.*
!.env.example
.nyc_output
coverage
.DS_Store
tests
eslint-report.json
.scannerwork
controllers/unused
*.md
docker-compose*
Dockerfile
dev.Dockerfile
